body {
  margin: 0;
  padding: 0;
}

#root {
  min-width: 100%;
  min-height: 100vh;
}

.card {
  background-color: var(--white-bg-color);
}

.app {
  background-color: var(--gray-bg-color);
  min-width: 100%;
  min-height: 100vh;
}

.term-title {
  font-size: 20px;
  color: var(--bold-title-color);
}