.no-padding {
    padding: 0px!important;
}

.full-width {
    width: 100%;
}

.mr-10-0 {
    margin: 10px 0px;
}

.mrr-10 {
    margin-right: 10px;
}

.pd-20 {
    padding: 20px;
}

.mr-50 {
    margin: 50px;
}

.mrt-50 {
    margin-top: 50px;
}

.mrt-10 {
    margin-top: 10px;
}

.mrb-50 {
    margin-bottom: 50px;
}

.small-text-size {
    font-size: 12px;
}

.medium-text-size {
    font-size: 16px;
}

.font-bold {
    font-weight: bold;
}

.btn {
    border: none;
}

.btn:hover {
    border: none;
}

.btn-primary {
    background-color: var(--primary-bg-color);
    color: var(--white-bg-color);
}

.btn-dark {
    background-color: var(--dark-color);
    color: #fff;
}

.btn-primary:hover {
    background-color: var(--active-primary-bg-color);
    color: var(--white-bg-color);
}

.btn-primary:active {
    background-color: var(--active-primary-bg-color);
    color: var(--white-bg-color);
}

.btn-large {
    width: 200px;
}

.center {
    margin: 0px auto!important;
}

.float-right {
    float: right!important;
}

.float-left {
    float: left!important;
}

input.input-form {
    border: 1px solid #cac5c5;
    background: #fff;
    height: 30px;
    font-size: 14px;
    border-radius: 5px;
    padding: 5px;
}

.block {
    display: block!important;
}