:root {
    --gray-bg-color: #EEEEEE;
    --white-bg-color: #ffffff;
    --bold-title-color: #303031;
    --primary-bg-color: #03C3AD;
    --active-primary-bg-color: #069F8E;
    --dark-color: #303031;
    --theme-bakcground-color: #1C2260;

    --text-size: 12px;
}