body {
  margin: 0;
  padding: 0;
}

#root {
  min-width: 100%;
  min-height: 100vh;
}

.card {
  background-color: var(--white-bg-color);
}

.app {
  background-color: var(--gray-bg-color);
  min-width: 100%;
  min-height: 100vh;
}

.term-title {
  font-size: 20px;
  color: var(--bold-title-color);
}

.slick-initialized .slick-slide img {
  width: 125px;
  margin: 0px auto 20px;
}

.slick-initialized .slick-slide {
  display: block;
  min-height: 200px;
  text-align: center;
  padding: 20px;
}

.slick-next {
  right: 0px;
}

.slick-prev {
  left: 0px;
}

.slick-next:before, .slick-prev:before {
  font-size: 25px;
  line-height: 1;
  opacity: .75;
  color: #000;
}

.slick-dots {
  position: relative;
  width: 100%;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: #03C3AD;
}

.slick-dots li button:before {
  font-size: 15px;
}

.slider-footer {
  padding: 20px;
  bottom: 0px;
}

.navigation {
  height: 45px; 
  width: 100%;
  background-color: var(--theme-bakcground-color);
  color: #fff;
  display: inline-flex;
}

.logo , .logo img {
  width: 45px;
  height: 45px;
  display: block;
}

.list-menu {
  list-style: none;
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: inline-table;
}

.list-menu a {
  text-decoration: none;
  color: #fff;
  display: table-cell;
  height: 45px;
  padding: 0px;
  vertical-align: middle;
  text-align: center;
  position: relative;
}

.list-menu li i {
  margin-right: 3px;
}

.list-menu li:hover {
  color: var(--primary-bg-color);
  cursor: pointer;
}

.list-menu .active {
  color: var(--primary-bg-color)
}

.list-menu .active::after {
  content: ' ';
  border: 1px solid var(--primary-bg-color);
  background-color: var(--primary-bg-color);
  bottom: 0px;
  left: calc(50% - 50px);
  position: absolute;
  width: 100px;
  height: 3px;
}

.page-title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
}

thead {
  background-color: var(--theme-bakcground-color);
  color: #fff;
}

thead th {
  padding: 5px;
}

tbody tr {
  border: 1px solid #ccc;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  margin: 4px auto;
  width: 41px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 1px;
  top: 1px;
  bottom: 4px;
  background-color: #fff;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ccc;
}

input:checked + .slider:before {
  background-color: var(--active-primary-bg-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px #ccc;
}

input:checked + .slider:before {
  -webkit-transform: translateX(21px);
  -ms-transform: translateX(21px);
  transform: translateX(21px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.btn-action {
  padding: 5px;
  font-size: 15px;
  cursor: pointer;
}

.plan-container {
  background-color: var(--gray-bg-color);
  padding: 5px;
  padding-bottom: 20px;
  text-align: center;
  height: 400px;
  position: relative;
}

.plan-container .title {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 900;
}

.plan-container .title hr {
  border-top: 1px solid #fff!important;
}

.plan-container .pricing {
  color: #BE0F2A;
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
}

.plan-container .features-list {
  padding: 0px;
  margin: 10px 0px 50px 0px;
  list-style-type: none;
  text-align: center;
}

.plan-container .features-list li {
  padding: 5px 0px;
}

.plan-container button {
  position: absolute;
  bottom: 20px;
  left: calc(50% - 45px);
}

.detail-plan-container {
  margin-top: 30px;
}

table tbody tr td {
  padding: 10px;
}

.page-description {
  font-size: 14px;
  color: var(--bold-title-color);
}

.offer-preview-container {
  padding: 25px;
  background-color: #F3F3F3;
  border-top: 3px solid #EDC505;
  border-bottom: 3px solid #EDC505;
}

.offer-product-preview {
  width: 85px;
  height: 85px;
}

.offer-name-preview {
  font-size: 15px;
  color: #303031;
  font-weight: bold;
  display: block;
  margin-bottom: 15px;
}

.preview-list-menu {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.preview-list-menu li {
  cursor: pointer;
  text-decoration: none;
  padding: 5px;
  background-color: var(--theme-bakcground-color);
  margin: 2px 0px;
  color: #fff;
  padding: 10px 30px;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.preview-list-menu li.active::before {
  content: ' ';
  display: block;
  height: 50px;
  width: 8px;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--active-primary-bg-color);
}

.offer-create-container {
  background: var(--gray-bg-color);
  padding: 10px;
  border-radius: 5px;
}

.offer-create-container .label {
  font-size: 15px;
  margin: 0px;
  padding: 0px;
  color: #2A2A2A;
  font-weight: bold;
}

.offer-create-container .sub-label {
  font-size: 15px;
  margin: 0px;
  padding: 0px;
  color: #2A2A2A;
  font-weight: 500;
}

.list-product-in-offer {
  list-style: none;
  padding: 0px;
  margin: 20px 0px;
}

.list-product-in-offer li {
  display: inline-flex;
}

.list-product-in-offer li img {
  width: 40px;
  height: 40px;
}

.list-product-in-offer li .product-title {
  font-size: 13px;
  padding: 10px;
}

.list-product-in-offer li .remove-btn {
  color: #D11717;
  font-size: 13px;
  padding: 10px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.inline-color-picker {
  position: absolute;
  right: 10px;
  top: 15px;
}

.inline-picker {
  display: inline-flex!important;
  position: absolute;
  margin-top: 10px;
  margin-left: 20px;
}

.inline-picker .rc-color-picker-trigger {
  height: 30px;
  width: 50px;
}

.custom-btn-group {
  margin-top: 10px;
}

.custom-btn-group button {
  background-color: #fff;
  border: 1px solid #ccc;
  height: 30px;
  padding: 0px 10px;
}

.block-picker {
  position: relative;
  display: block;
}

.block-picker .rc-color-picker-trigger {
  margin: 5px 0px;
  height: 30px;
  width: 50px;
}

.remove-btn {
  color: #D11717;
  cursor: pointer;
}

.stats-block {
  border: 1px solid var(--primary-bg-color);
  padding: 15px;
  background-color: #fff;
}

.stats-block .main-title {
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  display: inline-block;
}

.stats-block .timeframe {
  color: #B8B8B8;
  font-size: 13px;
  font-style: oblique;
  float: right;
}

.stats-block .dash {
  color: #B8B8B8;
  font-size: 13px;
  font-style: oblique;
  display: inline-block;
  width: 100%;
  text-align: right;
}

.stats-block .main-number {
  font-size: 17px;
  color: #03C3AD;
  display: inline-block;
  width: 100%;
  text-align: right;
}

.stats-block-tab {
  list-style: none;
  display: inline-flex;
  width: 100%;
  padding: 0px;
  margin: 0px;
  margin-top: 15px;
}

.stats-block-tab li {
  padding-right: 25px;
  cursor: pointer;
  position: relative;
}

.stats-block-tab li.active {
  color: var(--primary-bg-color);
}

/* .stats-block-tab li.active::after {
  content: '';
  display: block;
  bottom: 0px;
  height: 2px;
  background-color: var(--primary-bg-color);
} */

.list-product {
  list-style: none;
  padding: 0px;
  margin-top: 10px;
}

.list-product .percent {
  margin-left: 50px;
}